In [7]:
# arithmethic
1 + 1
4 * 5
5 ** 2
20 / 5 # return float
20 // 5 # return int
20 % 6

2

In [ ]:
# arithmetic operations with string
'sting 1' + 'string 2'
# '1' + 4 get error
'string 1' * 4

'string 1string 1string 1string 1'

In [12]:
# comparison
True == True
4 < 5
4 <= 5
4 >= 5

False

In [16]:
# logical operators (and or not)
True and True
True and False
True or True
True or False
not True
not False

True

In [21]:
# membership operators (in, not in)
1 in [1,2,3,4,5]
10 in [1,2,3,4,5]
10 not in [1,2,3,4,5]
'cat' in 'my pet is cat'
'cat' not in 'my pet is cat'

False